<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScoreFollower.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SpectralTemplateCreator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A88B5451CB6324200E2380F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AA7E8621C8D152C00062A70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AA7E8701C8D16C000062A70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AA7E87B1C8D175A00062A70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AFA6C6819F8C9B30066A5B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AFA6C7B19F8C9B30066A5B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
